html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background: #ffffff;
    text-decoration: none;
}

body {
    line-height:3;
    width: 100%;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;  
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* Start Here */
h1 {
    font-family: 'Poor Story', 'Roboto', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Poor Story', 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

h3 {
    font-family: 'Poor Story', 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

h5 {
    font-family: 'Poor Story', 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.wrapper {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding-top: 20px;
    width: auto;
}

.logowrapper {
    margin-left: 1%;
    width: 18%;
    display: inline-block;
    position: absolute;
}

.logo {
    width: 90%;
    padding-bottom: 20px;
    position: abs;
}

nav {
    display: block;
    margin-left: 2%;
    width: 75%;
    color: #1c1c1c;
    line-height: 60px;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    font-family: 'Poor Story', 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    color: #1c1c1c;
}

nav ul li a:hover{
    color: #991e1f;
}

.snsmenu{
    display: inline-block;
    margin: auto;
    padding-top: 7%;
}

.snsmenu ul li{
    list-style: none;
    float: left;
}

.fbicon{
    width: 50%;
    padding-left: 1%;
}

.instaicon{
    padding-top: 2px;
    width: 45%;
}

.content {
    width: 70%;
    padding-left: 25%;
    display: inline-block;
}

.images {
    width: 100%;
    height: auto;
}

.menu {
    width: 48%;
}

.deliicon{
    width: 40%;
}

.hours ul li {
    list-style: none;
    font-family: 'Poor Story', cursive;
    font-weight: 700;
    font-size: 25px;
}

.menuwrapper {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

.menuitem{
    list-style: none;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.sample {
    width: 280px;
    height: 280px;
}

.nameandprice {
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-weight: 700;
    font-size: 20px;
}

.container {
    height: 100px;
    width: 100%;
    position: relative;
}
  
.center {
    margin: 0;
    padding-bottom: 5%;
    position: absolute;
    top: 103%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer {
    width: 100%;
    text-align: center;
    list-style: none;
}
.footer li {
    display: inline-block;
    text-decoration: none;
}


@media screen and (max-width: 1250px){
    h2 {
        font-family: 'Poor Story', cursive;
        font-weight: 700;
        font-size: 40px;
    }
    
    h3 {
        font-family: 'Poor Story', cursive;
        font-weight: 700;
        font-size: 20px;
    }
    .wrapper {
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 1%;
        padding-top: 10px;
        width: auto;
    }

    .logowrapper {
        width: 100%;
        display: inline-block;
        position: relative;
    }
    
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding-bottom: 20px;
    }
    
    nav {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        color: #1c1c1c;
        line-height: 60px;
        text-align: center;
    }
    
    .snsmenu{
        display: inline-block;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5px;
        width: 50%;
        padding-top: 3%;
        padding-left: 21%;
        position: relative;
    }
    
    .snsmenu ul li{
        list-style: none;
    }
    
    .fbicon{
        width: 50%;
    }
    
    .instaicon{
        padding-top: 2px;
        width: 45%;
    }

    .content {
        padding-left: 0%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
        text-align: center;
    }

    .menu {
        width: 85%;
    }

    .deliicon{
        width: 60%;
    }
    
    .menuitem{
        list-style: none;
        float: left;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 40px;
    }

}

@media screen and (max-width: 870px){
    .snsmenu{
        padding-left: 20%;
    }
    .menuitem{
        list-style: none;
        float: left;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 40px;
    }

}

@media screen and (max-width: 770px){
    .snsmenu{
        padding-left: 17%;
    }
    .menuitem{
        list-style: none;
        float: left;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 510px){
    .snsmenu{
        padding-left: 15%;
    }
    .menuitem{
        list-style: none;
        float: left;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 40px;
    }
}